.achivement-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    margin-top: 100px;
    overflow-x: auto;
    max-height: 500px;
    padding-left:380px; /* Adjust the value as needed */
    overflow-y: hidden;
}
.achivement-card{
position: relative;

border-radius: 25px;
padding: 20px;
max-width: 400px;
margin: 20px;
flex-shrink: 0;


}
.achivement-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}
.achivement-description{
    text-align: center;
    color: lightgray;
}
.achivement-image{
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}