.achivement-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: mediumpurple;
    margin-top: 100px;
    overflow-x: auto;
    max-height: 500px;
    padding-left:380px; /* Adjust the value as needed */
    
}
.achivement-card{
position: relative;
background-color: rgb(47, 47, 49);
border-radius: 25px;
padding: 20px;
max-width: 400px;
margin: 20px;
flex-shrink: 0;


}
.achivement-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}
.achivement-description{
    text-align: center;
    color: lightgray;
}
.achivement-image{
    position: relative;
   max-width: 400px;
   z-index: 0;
}