.education-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.education-item{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
   
    position: relative;
    
}
.education-point{
    width: 10px;
    height: 10px;
    border-radius: 50rem;
    background-color: aqua;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.education-content{
   
    
    height: fit-content;
    
    
    
   
    
    
    
    
    
}

.education-content.left {
    align-self: flex-start;
    margin-left: 50px;
}

.education-content.right {
    align-self: flex-start;
    margin-left: auto;
    margin-right: 50px;
}

.education-title{
    font-size: 0.8rem;
    width: 100%;
}

.education-duration{
    width: 100%;
    font-size: 0.6rem;
    align-self: flex-start;
    padding: 2px;
}
.vertical-line{
    width: 2px;
    height: 100%;
    
    background-color: aqua;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.education-details{
    border: 5px solid aqua;
    display: flex;
    flex-direction: column;
    width: 210px;
    height: fit-content;
    
    align-self: flex-end;
    align-items: flex-end;
    padding: 10px;
    border-radius: 25px;
}