.education-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    margin-top: 100px;
}
.education-item{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
   
    position: relative;
    
}
.education-point{
    width: 10px;
    height: 10px;
    border-radius: 50rem;
    box-shadow: 0 0 10px #00FFFF;
    background-color: #00FFFF;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: -0px;
}

.education-content{
   
   
    height:fit-content;
    width: 40%;
      
}

.education-content.left {
    align-self: flex-end;
    margin-left: 40px;
    .education-duration{
        margin-left: auto;
        margin-right: 0;
        width: fit-content;
       
        
    
    }
}

.education-content.right {
    align-self: flex-start;
    margin-left: auto;
    margin-right: 40px;
}

.education-title{
    font-size: 0.8rem;
    width: 100%;
    font-weight: lighter;
}

.education-duration{
    width: 100%;
    font-size: 0.6rem;
    
    padding-bottom: 10px;
    

}
.vertical-line{
    width: 2px;
    height: 120%;
    box-shadow: 0 0 10px #00FFFF;
    background-color: #00FFFF;
    position: absolute;
    left: 50%;
    top: -40%;
    transform: translateX(-50%);
}
.education-details{
    border: 2px solid #00FFFF;
    box-shadow: 0 0 10px #00FFFF;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    
    align-self: flex-end;
    align-items: flex-end;
    padding: 10px;
    border-radius: 25px;
}
@media screen and (max-width: 500px){
   
    .education-title{
        font-size: 0.6rem;
    }
    .education-content{
        width: 32%;
    }
    
 
    
}