@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container{
    
    background-color: rgb(0, 0, 0,0.8);
    height: fit-content;
    margin: 100px;
    justify-self: center;
    width: 80%;
    border-radius: 25px;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* 2. shadow ring 👇 */
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    /* 3. multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
   
    
}

.description{
    margin: 1cap;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    height: fit-content;
    line-height: 1.6;
    text-align: justify;
    padding: 10px;
}



    






.about{
    
    width: 80%;
    margin: auto;
    animation: fadeIn 1s ease-out forwards;

}
@media screen and (min-width: 787px){
    
    .about{
        width: 40%;
        float: left;
        margin: 20px;
    }
    .sub-container{
        float: right;
        width: 50%;
    
    }
    .container{
       height: 800px;
    }
    
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
#education{
    display: block;
}
#achivements{
    display: none;
}
.sub-container{
    margin-left: 20px;
    margin-right: 20px;
    height: 550px;
    max-width: 500px;
    
    
    
}
.aboutTab{
    display: flex;
    justify-content: space-around;
   
    padding: 20px;
    
}

.tab{
    background: transparent;
    padding: 10px;
    color: white;
    width: 300px;
    text-align: center;
    
    
   
   
}
#edu:hover ~ #achive {
    border-bottom: none;
}
#achive:hover ~ #edu {
    border-bottom: none;
}


.tab.active{
    
    color: white;
    padding: 10px;
    
    border-top: none;
    border-left: none;
    border-right: none;
    background: linear-gradient(to right, #00FFFF, #B200FF);
    border-bottom: 2px solid transparent;
} 
.tab:focus {
    
    color: white;
    padding: 10px;
    
    border-top: none;
    border-left: none;
    border-right: none;
    background: linear-gradient(to right, #00FFFF, #B200FF);
    border-bottom: 2px solid transparent;
}



.tab:not(:hover) {
    border-bottom: none;
}

.tabHr{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    top: -20px;
    background: linear-gradient(to right, #00FFFF, #b200ff);
    height: 2px;
    border: none;
  
}






