p{
    color: white;
    text-align: left;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.name{
    background: linear-gradient(to right, #00FFFF, #B200FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font-size: 2rem;
    margin-top: 20;
    margin-bottom: 0;
    

   
}

.intro{
   margin: 20px;
   margin-bottom: 300px;
}

@media screen and (min-width: 787px) {

.intro{
   margin: 10%;
   margin-right: 600px;
}

}

@keyframes bottomToTop {
0% { opacity: 0; transform: translateY(150%); }
100% { opacity: 1; transform: translateY(0); }
50% { opacity: 1; transform: translateY(0); }
}

.btn {
    background: linear-gradient(to right, #00FFFF, #B200FF);
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.9;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 0.4s;
    position: relative;
    overflow: hidden;

    
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    transition: transform 0.5s ease;
    transform: scaleX(0);
    transform-origin: right;
}

.viewMore:hover::before{
    transform: scaleX(1);
}



.viewMore {
    opacity: 0.9;
    text-decoration: none;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #00FFFF, #B200FF) 1;
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}

.viewMore::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00FFFF, #B200FF);
    z-index: -1;
    transition: transform 0.5s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.viewMore:hover::before {
    transform: scaleX(1);
}



.btn:hover::before{
    transform: scaleX(1);
}
    
