p{
    color: white;
    text-align: left;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.name{
    text-shadow: -1px 0 10px rgb(101, 176, 230), -20px 0 20px rgb(85, 85, 226), -30px 0 30px rgb(20, 20, 185), -40px 0 40px #00f, -50px 0 50px #00f,
                 
                 10px 0 10px #800080, 20px 0 20px #800080, 30px 0 30px #800080, 40px 0 40px #800080, 50px 0 50px #800080;
    text-align: left;
    font-size: 2rem;
    margin-top: 20;
    margin-bottom: 0;
    

   
}

.intro{
   margin: 20px;
   margin-bottom: 300px;
}

@media screen and (min-width: 787px) {

.intro{
   margin: 10%;
   margin-right: 600px;
}

}
h2{
display: inline;
color: white;
text-align: left;

margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;

}
@keyframes bottomToTop {
0% { opacity: 0; transform: translateY(150%); }
100% { opacity: 1; transform: translateY(0); }
50% { opacity: 1; transform: translateY(0); }
}

h3{
animation: bottomToTop 2s ease-in-out infinite ;
color: white;
text-align: left;
display: inline-table;
font-size: 200%;

text-shadow: -1px 0 10px rgb(101, 176, 230), -20px 0 20px rgb(85, 85, 226), -30px 0 30px rgb(20, 20, 185), -40px 0 40px #00f, -50px 0 50px #00f,
                 
10px 0 10px #800080, 20px 0 20px #800080, 30px 0 30px #800080, 40px 0 40px #800080, 50px 0 50px #800080;
}
button{
    background-color: #00f;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 0.4s;
}