.project-container{
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
}
.project-card{
    flex: 1 1 20%;
    flex-wrap: wrap;
    position: relative;
    max-width: 500px;
    display: flex;
    margin: auto;
    margin-top: 40px;
    border: 5px solid;
    border-image: linear-gradient(to right, blue, purple) 1;
    border-radius: 20px;
    background:linear-gradient(black,black) padding-box,
    linear-gradient(to right, blue, purple)
      border-box;
    
    
}
.project-card:hover{
    border: 5px solid rgb(179, 207, 227);
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgb(101, 176, 230), 0 0 20px rgb(85, 85, 226), 0 0 30px rgb(20, 20, 185), 0 0 40px #00f, 0 0 50px #00f,
    0 0 10px #800080, 0 0 20px #800080, 0 0 30px #800080, 0 0 40px #800080, 0 0 50px #800080;
    
}
.project{
    display: block;
    flex-direction: column;
    align-items: center;
    
   
    border-radius: 20px;
    
    max-width: 500px;
    height: 300px;
    background-color: white;
    text-align: center;
    
}

.project-card:hover .project-description {
    height: 90%;
    padding:10px;
    margin: auto;
}

.project-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    max-width: 500px;
    height: 0;
    border-radius: 20px;
    transition: .5s ease;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, rgb(0,0,0,0.8), rgb(86, 1, 150), rgb(0, 0, 85));
    
  }

p{  
    color:white;
    font-size: 60%;


    
}
a{
    color:white;
    font-size: 60%;
    
}
.projectImg{
    
   width: 490px;
   height: 100%;
    object-fit: cover;
    background-size: cover;
    border-radius: 20px;
    
    
}
h2{
    text-align: center;
    background: linear-gradient(to right, blue, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;

}
h6{
    margin: 0;
}