.projects {
    width: 80%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.6); /* Corrected background-color syntax */
    margin: auto;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* 2. shadow ring 👇 */
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    /* 3. multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
   
}

.projects-container {
    
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px; /* Add gap between grid items */
   
    cursor: default;
}

.project-card {
    flex-wrap: wrap;
    position: relative;
    width: fit-content;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    /* Add bottom margin */
    border-radius: 25px;
    background-color: white;
    transition: 0.5s;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

@media (min-width: 768px) {
    .project-card {
        flex: 1 1 calc(50% - 20px);
        margin: auto;
        margin-bottom: 10px;
        
        
    }
  
}

.project-card:hover {
    border-radius: 25px;
    transition: 0.5s;
}

.project {
    display: block;
    flex-direction: column;
    align-items: center;
    border-radius: 20px; /* Removed duplicate border-radius */
    border: 4px solid transparent;
    background-clip: padding-box;
    max-width: 300px;
    height: 200px;
    
    text-align: center;
}

.project-card:hover .project-description {
    height: 100%;
    padding: 10px;
    margin: auto;
}

.project-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    max-width: 600px;
    height: 0;
    border-radius: 10px;
    transition: 0.5s ease;
    color: white;
    text-align: center;
    background: linear-gradient(to top, #00FFFF, rgb(178, 0, 255,0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
}

.project-description p {
    color: white;
    font-size: 0.6rem;
}

a {
    color: white;
    font-size: 60%;
}

.projectImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

h6 {
    display: none;
    margin: 0;
}

.project-info {
    margin-top: 40px;
    padding: 10px;
}
.view {
    display: flex;
    flex: wrap;
    font-size: 1.6rem;
    margin: 10px;
    text-decoration: none;
    justify-self: center;
}
.demo {
    display: flex;
    font-size: 1.6rem;
    margin: 10px;
    text-decoration: none;
}
.project-links {
    width: 50%;
    display: flex;
    
    margin-top: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;

}
